@charset "utf-8";
@import "compass/reset";

body {
  background-image:url("../images/background.png");
  text-align: center;
  font-family: sans-serif; 
  color:#222;
}

/***************
FONTS
****************/
@font-face {
    font-family: 'proxima';
    src: url('http://marketplace.org/sites/default/themes/marketplacev2Responsive/fonts/proximanova-bold-webfont-webfont.eot');
    src: url('http://marketplace.org/sites/default/themes/marketplacev2Responsive/fonts/proximanova-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://marketplace.org/sites/default/themes/marketplacev2Responsive/fonts/proximanova-bold-webfont-webfont.woff') format('woff'),
         url('http://marketplace.org/sites/default/themes/marketplacev2Responsive/fonts/proximanova-bold-webfont-webfont.ttf') format('truetype'),
         url('http://marketplace.org/sites/default/themes/marketplacev2Responsive/fonts/proximanova-bold-webfont-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/************
HEADER
*************/

header {
  background-color:#3D3D3D;
  height:2.825em;
  img {
    width:2em;
    display:inline-block;
    position:relative;
    top:.425em;
  }
}

h1 {
  display: inline-block;
  font-family: "proxima", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 10px;
  margin: 0; 
}

/***************
QUIZ
****************/

#quiz {
  padding:.75em 0 0;
  line-height: 1.2;
  max-width:40em;
  margin:0 auto;
  h2 {
    padding: 0 1rem .625em;
    text-align: left;
    font-size:1em;
  }
  p {
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0 2px;
    margin: 0 1rem;
    font-family:georgia, serif;
    text-align:left;
  }
  button {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 66.66666%;
    left: 16.6666665%;
    bottom: 1em;
    font-family: "proxima";
    font-size: 2em;
    background-color: #00B8F9;
    border: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  }
  .question {
    font-size: 1em;
    font-weight: bold;
    margin: 0 1em;
    text-align: left;
  }
  .answers {
    position: absolute;
    bottom: 0; 
    left:0;
    width:100%;
    li {
      height:3em;
      color:#fff;
      text-shadow: 0 1px 0 rgba(0, 1, 1, 0.5);
      padding-top:.625em;
      cursor:pointer;
    }
    [data-idx="0"] {
      background-color:#00A0B0;
    }
    [data-idx="1"] {
      background-color:#CC333F;
    }
    [data-idx="2"] {
      background-color:#EB6841;
    }
    [data-idx="3"] {
      background-color:#EDC951;
    }
  }
}

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}