---
title: KPCC News Quiz
---
%header
    %img(src="/images/kpcc.png")
    %h1 KPCC News Quiz
#quiz

:coffee
    window.quiz = new NewsQuiz
        questions:
            question: "Question 1: A trade group this week turned in enough signatures to qualify a referendum on California's ban on what?"
            answers: [
                "A. Plastic bags",
                "B. Electronic cigarettes",
                "C. Foie gras",
                "D. Watering lawns"
            ]
            correct: 0
        ,
            question: "Question 2: What SoCal city council unanimously approved a proposal for an NFL stadium Tuesday night rather than putting it on the ballot this summer?"
            answers: [
                "A. Los Angeles",
                "B. Carson",
                "C. Inglewood",
                "D. San Diego"
            ]
            correct: 2
        ,
            question: "Question 3: What is the cross section of registered voters who show up the least at LA elections?  "
            answers: [
                "A. White renters over the age of 45",
                "B. Non-white renters over age 45",
                "C. White renters under age 45",
                "D. Non-white renters under age 45"
            ]
            correct: 3
        ,
            question: "Question 4: Green sea turtles are showing up in what unlikely urban environment?"
            answers: [
                "A. L.A. River",
                "B. The Los Angeles Aqueduct",
                "C. San Gabriel River",
                "D. Sacramento River"
            ]
            correct: 2
        ,
            question: "Question 5: This week Los Angeles rolled out a database of what?"
            answers: [
                "A. Local parks",
                "B. Historic sites",
                "C. Rent stabilized properties",
                "D. Prescription drug use"
            ]
            correct: 1
        ,
            question: "Question 6: The downtown L.A. venue The Syrup Loft is hosting a party and art spectacle Saturday in honor of what actor?"
            answers: [
                "A. Neil Patrick Harris",
                "B. Jeff Bridges",
                "C. Joseph Gordon Levitt",
                "D. Bill Murray"
            ]
            correct: 3
        ,
            question: "Question 7: What local university’s theater program is creating a new wonderland in ‘Alice Through the Wormhole?"
            answers: [
                "A. San Diego State",
                "B. Caltech",
                "C. UCLA",
                "D. Azusa Pacific"
            ]
            correct: 1
        ,
            question: "Question 8: A would-be Eagle Scout is hoping to catch what at LAX?"
            answers: [
                "A. Monarch butterflies",
                "B. Passengers",
                "C. Frogs",
                "D. Birds of prey"
            ]
            correct: 3
        ,
            question: "Question 9: U.S. Rep. Ted Lieu wants an investigation on what the Food and Drug Administration is doing to prevent what?"
            answers: [
                "A. Superbug",
                "B. West Nile",
                "C. Measles",
                "D. Ebola"
            ]
            correct: 0
        ,
            question: "Question 10: This week’s Metrolink collision in Oxnard has brought forth safety questions concerns. Which brings us to this: You’re stuck on the train tracks. What should you do once you exit the car?"
            answers: [
                "A. Run from the tracks perpendicular to the train",
                "B. Run from the tracks at a 45-degree-angle in the direction of the train",
                "C. Run from the tracks at a 45-degree-angle away from the train",
                "D. Run from the tracks at any angle away from the train"
            ]
            correct: 1
        ,
            question: "Question 11: In 2013, controversy surrounded this Orange County event because gays and lesbians, who had been allowed to participate, were banned."
            answers: [
                "A. Rose Parade float decorating",
                "B. The OC Fair",
                "C. Tet Parade",
                "D. OC Marathon"
            ]
            correct: 2
        ,
            question: "Question 12: In the hopes of tackling an issue that has plagued California metropolitan areas for years, Assembly Speaker Toni Atkins announced a plan to pump hundreds of millions of dollars into what?"
            answers: [
                "A. Local housing development",
                "B. Social services",
                "C. Education funding",
                "D. Infrastructure"
            ]
            correct: 0

