---
title: KPCC News Quiz
---

%h1 KPCC News Quiz
#quiz

:coffee
    window.quiz = new NewsQuiz
        questions: [
            question: "Question 1"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 1
            explainer: "Here's what happened..."
        ,
            question: "Question 2"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 2
            explainer: "Here's what else happened..."
        ,
            question: "Question 3"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 2
            explainer: "Here's what else happened..."
        ,
            question: "Question 4"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 1
            explainer: "Here's what else happened..."
        ,
            question: "Question 5"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 2
            explainer: "Here's what else happened..."
        ,
            question: "Question 6"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 0
            explainer: "Here's what else happened..."
        ,
            question: "Question 7"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 3
            explainer: "Here's what else happened..."
        ]
