---
title: KPCC News Quiz
---

%h1 KPCC News Quiz
#quiz

:coffee
    window.quiz = new NewsQuiz
        questions:
            question: "Question 1"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 1
        ,
            question: "Question 2"
            answers: [
                "Answer A",
                "Answer B",
                "Answer C",
                "Answer D"
            ]
            correct: 2
